hmtl, body{
    height: 100%;
    width: 100%;
}

/* NavBar */

/* NavBar */
/* Ligera transparencia */
.tpnt{
    background: rgba(0, 0, 0, 0.473);
}
/* Agrega una transparencia menor al hacer scroll */
.top-nav-collapse{
    background: rgba(0, 1, 3, 0.808);


}

/* 1er contenedor */
.fondo{
    height: 100vh;
    background: url(/img/cover-home.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* 2do Contenedor */
.nosotros{
    padding-top: 30px;
    margin-top: 30px;
    height: 100vh;
    
}

#destapacion{
    margin-top: 20px;
}

/* Contenedor 2 bis */
.mas{
    height: 100vh;
   /*  background: url(/img/coverpattern.png);
   background-size: cover; */
}

/* 4to contenedor */
.cuarto{
    background: url(/img/cover.png) no-repeat center center fixed;
    height: 40vh;
}

/* 5to contenedor */
.contacto{
    background: url(/img/cover2.jpg) no-repeat center center fixed;
    height: 100vh;
}

/* MediaQuerys */

@media (max-width: 768px){
    .cuarto{
        height: 20vh;
    }
    #flotante1{
        display:scroll;
        position:fixed;
        bottom:20px;
        left: 15px;
        width: 2em;
        height: 2em
        
    }
    #flotante2{
        display:scroll;
        position:fixed;
        bottom:20px;
        right: 15px;
        width: 2em;
        height: 2em;
    }

}
